# Research question
 Which factors have an effect on top-education? Find the top x universities and the bottom x universities and show the differences in factors within the country. These factors are education access, progression, completion, literacy, population, and expenditures. You can define the x yourself, find a suitable number for this.

## Data Preparation

Read datasets

In [11]:
import pandas as pd
import os

wur_folder_path = '.\\datasets\\world_university_rankings'
csv_files = [os.path.join(wur_folder_path, f) for f in os.listdir(wur_folder_path) if f.endswith('.csv')]
wur_df = pd.DataFrame()
for file in csv_files:
    data = pd.read_csv(file)
    data.insert(loc=0,column='year',value=file.split('\\world_university_rankings\\')[1].split('_')[0])
    wur_df = pd.concat([wur_df, data], ignore_index=True)

wur_df.head()

,year,rank_order,rank,name,scores_overall,scores_overall_rank,scores_teaching,scores_teaching_rank,scores_international_outlook,scores_international_outlook_rank,...,scores_citations_rank,location,aliases,subjects_offered,closed,unaccredited,stats_number_students,stats_student_staff_ratio,stats_pc_intl_students,stats_female_male_ratio
0,2011,1,1,Harvard University,96.1,1,99.7,1,72.4,49,...,8,United States,Harvard University,"Mathematics & Statistics,Civil Engineering,Lan...",False,False,NaN,NaN,NaN,NaN
1,2011,2,2,California Institute of Technology,96.0,2,97.7,4,54.6,93,...,1,United States,California Institute of Technology caltech,"Languages, Literature & Linguistics,Economics ...",False,False,NaN,NaN,NaN,NaN
2,2011,3,3,Massachusetts Institute of Technology,95.6,3,97.8,3,82.3,36,...,2,United States,Massachusetts Institute of Technology,"Mathematics & Statistics,Languages, Literature...",False,False,NaN,NaN,NaN,NaN
3,2011,4,4,Stanford University,94.3,4,98.3,2,29.5,156,...,6,United States,Stanford University,"Physics & Astronomy,Computer Science,Politics ...",False,False,NaN,NaN,NaN,NaN
4,2011,5,5,Princeton University,94.2,5,90.9,6,70.3,53,...,3,United States,Princeton University,"Languages, Literature & Linguistics,Biological...",False,False,NaN,NaN,NaN,NaN