In [1]:
import pandas as pd

In [25]:
# Load the data from csv file
df2022 = pd.read_csv('2022_rankings.csv')
df2021 = pd.read_csv('2021_rankings.csv')
df2020 = pd.read_csv('2020_rankings.csv')
df2019 = pd.read_csv('2019_rankings.csv')
df2018 = pd.read_csv('2018_rankings.csv')
df2017 = pd.read_csv('2017_rankings.csv')
df2016 = pd.read_csv('2016_rankings.csv')
df2015 = pd.read_csv('2015_rankings.csv')
df2014 = pd.read_csv('2014_rankings.csv')
df2013 = pd.read_csv('2013_rankings.csv')
df2012 = pd.read_csv('2012_rankings.csv')


# Remove unnecessary columns
df2022.drop(df2022.columns[7:15], axis=1, inplace=True)
df2022.drop(df2022.columns[8:], axis=1, inplace=True)
df2021.drop(df2021.columns[7:15], axis=1, inplace=True)
df2021.drop(df2021.columns[8:], axis=1, inplace=True)
df2020.drop(df2020.columns[7:15], axis=1, inplace=True)
df2020.drop(df2020.columns[8:], axis=1, inplace=True)
df2019.drop(df2019.columns[7:15], axis=1, inplace=True)
df2019.drop(df2019.columns[8:], axis=1, inplace=True)
df2018.drop(df2018.columns[7:15], axis=1, inplace=True)
df2018.drop(df2018.columns[8:], axis=1, inplace=True)
df2017.drop(df2017.columns[7:15], axis=1, inplace=True)
df2017.drop(df2017.columns[8:], axis=1, inplace=True)
df2016.drop(df2016.columns[7:15], axis=1, inplace=True)
df2016.drop(df2016.columns[8:], axis=1, inplace=True)
df2015.drop(df2015.columns[7:15], axis=1, inplace=True)
df2015.drop(df2015.columns[8:], axis=1, inplace=True)
df2014.drop(df2014.columns[7:15], axis=1, inplace=True)
df2014.drop(df2014.columns[8:], axis=1, inplace=True)
df2013.drop(df2013.columns[7:15], axis=1, inplace=True)
df2013.drop(df2013.columns[8:], axis=1, inplace=True)
df2012.drop(df2012.columns[7:15], axis=1, inplace=True)
df2012.drop(df2012.columns[8:], axis=1, inplace=True)

# Remove all countries except US
df2022 = df2022[df2022['location'] == 'United States']
df2021 = df2021[df2021['location'] == 'United States']
df2020 = df2020[df2020['location'] == 'United States']
df2019 = df2019[df2019['location'] == 'United States']
df2018 = df2018[df2018['location'] == 'United States']
df2017 = df2017[df2017['location'] == 'United States']
df2016 = df2016[df2016['location'] == 'United States']
df2015 = df2015[df2015['location'] == 'United States']
df2014 = df2014[df2014['location'] == 'United States']
df2013 = df2013[df2013['location'] == 'United States']
df2012 = df2012[df2012['location'] == 'United States']

In [29]:
# Save the data to csv file
df2022.to_csv('2022_rankings_cleaned.csv', index=False)
df2021.to_csv('2021_rankings_cleaned.csv', index=False)
df2020.to_csv('2020_rankings_cleaned.csv', index=False)
df2019.to_csv('2019_rankings_cleaned.csv', index=False)
df2018.to_csv('2018_rankings_cleaned.csv', index=False)
df2017.to_csv('2017_rankings_cleaned.csv', index=False)
df2016.to_csv('2016_rankings_cleaned.csv', index=False)
df2015.to_csv('2015_rankings_cleaned.csv', index=False)
df2014.to_csv('2014_rankings_cleaned.csv', index=False)
df2013.to_csv('2013_rankings_cleaned.csv', index=False)
df2012.to_csv('2012_rankings_cleaned.csv', index=False)

In [48]:
# Load the data from csv file
df_unis = pd.read_csv('Colleges_and_Universities.csv')

# Lowercase column names
df_unis.columns = df_unis.columns.str.lower()

# Drop unnecessary columns
df_unis.drop(df_unis.columns[:4], axis=1, inplace=True)
df_unis.drop(df_unis.columns[6:11], axis=1, inplace=True)
df_unis.drop(df_unis.columns[2], axis=1, inplace=True)
df_unis.drop(df_unis.columns[6:8], axis=1, inplace=True)
df_unis.drop(df_unis.columns[8:], axis=1, inplace=True)
df_unis.head()

# Save the data to csv file
df_unis.to_csv('Colleges_and_Universities_cleaned.csv', index=False)

In [51]:
# Join the dataframes on name
df2022_joined = df2022.merge(df_unis, on='name')

# Save the data to csv file
df2022_joined.to_csv('Joined_data_2022.csv', index=False)

In [52]:
df2022_joined.head()

,rank_order,rank,name,scores_overall,scores_overall_rank,scores_teaching,scores_teaching_rank,location,address,city,state,zip,county,latitude,longitude
0,20,=2,California Institute of Technology,95.0,20,93.6,2,United States,1200 E California Blvd,Pasadena,CA,91125,Los Angeles,34.139181,-118.125567
1,30,=2,Harvard University,95.0,30,94.5,1,United States,Massachusetts Hall,Cambridge,MA,02138,Middlesex,42.374172,-71.118234
2,40,4,Stanford University,94.9,40,92.3,3,United States,NOT AVAILABLE,Stanford,CA,94305,Santa Clara,37.432974,-122.175045
3,60,=5,Massachusetts Institute of Technology,94.6,60,90.9,7,United States,77 Massachusetts Avenue,Cambridge,MA,02139,Middlesex,42.360095,-71.092115
4,70,7,Princeton University,93.6,70,89.5,9,United States,1 Nassau Hall,Princeton,NJ,08544,Mercer,40.347141,-74.657698